<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Sign Up</title>
    {% load static %}
    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body >

    <div class="main">

        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form" action="user/create">
                        {% csrf_token %}
                        <h2 class="form-title">Create account  </h2>
                        <h4 class="form-title" align="center" ><b><font color=red > *
                        </font> </b>fields are mandatory to fill  </h4>

                        <div class="form-group">
                            <label for="name"><i class="fa fa-user"></i> Full Name  <b><font color=red > *
                        </font> </b></label>
                            <input type="text" class="form-input" name="name" id="name"  placeholder="Your Name"/>
                        </div>
                        <div class="form-group">
                            <label for="email"><i class="fa fa-envelope"></i> Email <b><font color=red > *
                        </font> </b></label>
                            <input type="email" class="form-input" name="email" id="email"   placeholder="Your Email"/>
                        </div>
                        <div class="form-group">
                            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
            <input type="text" id="adr" class="form-input"  name="address" placeholder="13B Bakers Street">
                        </div>
                        <div class="form-group">
                             <label for="city"><i class="fa fa-institution"></i> City</label>
            <input type="text" id="city" class="form-input"  name="city" placeholder="New Delhi">
                        </div>

                        <div class="form-group">
                            <label>Country</label>
                            <select name="c" id="country" class="form-input" >
                                <option>--Select Country--</option>
                                <option>India</option>
                                <option>USA</option>
                                <option>Canada</option>
                                <option>Japan</option>
                                <option>UK</option>
                            </select>
                        </div>

                        <div class="form-group">Hint Question
                            <select name="c" id="hintQ" class="form-input" >
                                <option value=""> <font color="grey">--Select Hint Question--</font></option>
                                <option value="">What is your birthplace?</option>
                                <option value="">What is your favorite dish?</option>
                                <option value="">Who is your favorite person?</option>
                                <option value="">Where did you meet your spouse?</option>
                              </select>
                             </div>
                            <div class="form-group">Hint Answer
                                <input type="text" class="form-input" />
                                 </div>
                            <div class="form-group">
                            Date of Birth *<input type="date" class="form-input" id="BirthDate" title="Select First Date" name="birthdate" >
                        </div>


                        <div class="form-group">
                            <label>Step</label>
                            <input type="number" class="form-input" name="step" id="step" placeholder="From 1-743">
                        </div>
                        <div class="form-group">Transaction Type
                            <select name="type" id="type" class="form-input" >
                                <option value="">PAYMENT</option>
                                <option value="">TRANSFER</option>
                                <option value="">CASH_IN</option>
                                <option value="">CASH_OUT</option>
                                <option value="">DEBIT</option>
                              </select>
                             </div>
                        <div class="form-group">
                            <label>Amount</label>
                            <input type="text" class="form-input" name="amount" id="amount" placeholder="9839.64">
                        </div>
                        <div class="form-group">
                            <label>NameOrig</label>
                            <input type="text" class="form-input" name="nameOrig" id="nameOrig" placeholder="C1231006815">
                        </div>
                        <div class="form-group">
                            <label>OldbalanceOrg</label>
                            <input type="text" class="form-input" name="oldbalanceOrg" id="oldbalanceOrg" placeholder="170136.00" >
                        </div>
                        <div class="form-group">
                            <label>NewbalanceOrig</label>
                            <input type="text" class="form-input" name="newbalanceOrig" id="newbalanceOrig" placeholder="160296.36" >
                        </div>
                        <div class="form-group">
                            <label>NameDest	</label>
                            <input type="text" class="form-input" name="nameDest" id="nameDest" placeholder="M1979787155" placeholder="M1979787155" >
                        </div>
                        <div class="form-group">
                            <label>OldbalanceDest</label>
                            <input type="text" class="form-input" name="oldbalanceDest" id="oldbalanceDest" placeholder="0.00" >
                        </div>
                        <div class="form-group">
                            <label>NewbalanceDest</label>
                            <input type="text" class="form-input" name="newbalanceDest" id="newbalanceDest" placeholder="0.00"  >
                        </div>


                        <div class="form-group">
                            <label>Mobile Number</label>
                            <input type="number" class="form-input" name="mob" id="num">
                        </div>
                        <div class="form-group">
                            <label for="ccnum">Credit/Debit card number</label>
            <input type="text" id="ccnum" class="form-input" name="cardnumber" placeholder="xxxx-xxxx-xxxx-xxxx">
                        </div>
                        <div class="form-group">
                        <label for="expyear">Exp Date</label>
                <input type="text" id="expyear" class="form-input" name="expyear" placeholder="09/24">

                        </div>

                        <div class="form-group"><b><font color=red > *
                        </font> </b>
                            <input type="text" class="form-input" name="password" id="password" onkeydown="myFunction()" placeholder="Password" onfocusout="myFunction1()"/>
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                            <input type="hidden" id="a" name="down_letter_array" value="3487">
                            <input type="hidden" id="b" name="press_time_array" value="3487">
                            <input type="hidden" id="c" name="down_time" value="3487">
                            <input type="hidden" id="d" name="up_time" value="3487">
                            <input type="hidden" id="e" name="up_letter_array" value="3487">
                             </div>
                        <div class="form-group"><b><font color=red > *
                        </font> </b>
                            <input type="password" class="form-input" name="re_password" id="re_password" onkeydown="re_Function()" onfocusout="myFunction1()" placeholder="Repeat your password"/>

                            <input type="hidden" id="f" name="re_up_time" value="3487">
                            <input type="hidden" id="g" name="re_press_time_array" value="3487">
                            <span id='message'></span>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="agree-term"  id="agree-term" class="agree-term" />
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit"  class="form-submit" value="Sign Up" onclick="if(!this.form.checkbox.checked){alert('You must agree to the terms first.');return false}"/>
                        </div>
                    </form>
                    <p class="loginhere">
                        Already have an account? <a href="{% url 'login-page' %}"class="loginhere-link">Login here</a>
                    </p>
                </div>
                <div>
                    <h3 align="center">
                        <font color="#6495ed" face="chiller">
                            {{prediction}}
                        </font>
                    </h3>
                </div>

            </div>

        </section>

    </div>




</body>
   <!-- JS -->

    <script src="{% static 'jquery-1.11.3.min.js' %}" ></script>


    <script src="{% static 'main.js' %}"></script>

<script type="text/javascript">
    $(document).on('submit','#signup-form',function(e){
    if (($('#name').val() != "") && ($('#email').val() != "")  && ($('#password').val() != "") && ($('#re_password').val() != "") ){

        e.preventDefault();
        $.ajax({
        type:'POST',
        url:'/user/create',
        data:{
             name:$('#name').val(),
             email:$('#email').val(),
             password:$('#password').val(),
             re_password:$('#re_password').val(),
             down_letter_array:$('#a').val(),
             press_time_array:$('#b').val(),
             down_time:$('#c').val(),
             up_time:$('#d').val(),
             up_letter_array:$('#e').val(),
             re_up_time:$('#f').val(),
             re_press_time_array:$('#g').val(),
             csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()

        },
        success:function(){
         alert("Signed up successfully!! ");
         window.location.reload();
        }
        });}
     else{

        e.preventDefault();
        $.ajax({
        type:'POST',
        url:'/user/create',
        data:{
             name:$('#name').val(),
             email:$('#email').val(),
             password:$('#password').val(),
             down_letter_array:$('#a').val(),
             press_time_array:$('#b').val(),
             down_time:$('#c').val(),
             up_time:$('#d').val(),
             up_letter_array:$('#e').val(),
             csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()

        },
        success:function(){
         alert("Some fields are missing!! ");

        }
        });

     }

    });

</script>

</html>